NEXT_PUBLIC_SUPABASE_URL=https://nuwpsciwekitwhzdjdwj.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im51d3BzY2l3ZWtpdHdoemRqZHdqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODk5ODQzOTAsImV4cCI6MjEwNTU2MDM5MH0.jXOeE3TsPUStmng66aoxIU5iYRTIeDv7S93K1coaEBk
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im51d3BzY2l3ZWtpdHdoemRqZHdqIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4OTk4NDM5MCwiZXhwIjoyMTA1NTYwMzkwfQ.QAWCP3Cgf6sF1_Vh7WWRKu59Y29A8PG3lIrFeISPsfY
R2_ACCOUNT_ID=
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=
R2_BUCKET_NAME=
R2_PUBLIC_URL=
NEXT_PUBLIC_MAX_VIDEO_SIZE_MB=500
NEXT_PUBLIC_APP_URL=http://localhost:3000
